@use "../../../styles/variable" as var;

.customTable {
  :global {
    .ant-table-tbody {
      min-height: calc(8 * 54.8px);
    }
    .ant-table-wrapper .ant-table-container table > thead > tr .ant-table-cell {
      border-bottom: 1px solid rgba($color: var.$primary-color, $alpha: 0.5);
      background-color: #f8f8f8;
    }
  }
}
