

.account_management_wrapper {
    padding: 10px;
    background-color: #f5f5f5;
}

.account_management_container {
    max-width: auto ;
    margin: auto;
    padding: 10px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

// .account_actions {
//     margin-top: 20px;
// }
