.loginImage {
    width: 50%;
}

.defaultImage {
    width: 100% !important;
    height: 100% !important;
}

.inputFields {
    :global {
        .ant-input-outlined {
            .ant-input-prefix {
                padding-right: 100px !important;
            }
        }
    }
}