.customTabs {
  :global {
    .ant-tabs {
      .ant-tabs-nav {
        padding: 1.25rem;
        background-color: white;
      }
      .ant-tabs-content-holder {
        padding: 0 1.25rem;
      }
    }
  }
}
