.search_tag_bar {
  width: 19.5rem !important;
  padding-left: 0.5rem;
}
.filter_bar {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  display: flex;
}
.search_name_bar {
  width: 19.5rem !important;
  padding-left: 0.5rem;
}
